@model RavenDB.MsWebCamp2015.Models.SiteConfig

@{
    ViewData["Title"] = "Home Page";
}

<div>
	<h1>@Model.SiteName</h1>
	<ul>
		<li>SmtpServer: @Model.Email.SmtpServer</li>
		<li>Port: @Model.Email.Port</li>
		<li>Sender: @Model.Email.Sender</li>
	</ul>
</div>